<div class="container" style="margin-top:5%;margin-bottom:5%">
	<% if (!req.user) { %>
	<div class="col-md-12 signinPrompt">
		<form action="/login" method="POST" class="form-signin">

			<% if(flash && flash.err) { %>
			<ul class="alert alert-success">
				<% Object.keys(flash.err).forEach(function(error) { %>
				<li><%- JSON.stringify(flash.err[error]) %></li>
				<% }) %>
			</ul>
			<% } %>

			<input type="text" class="form-control" placeholder="Email address" name="email"><br>
			<input type="password" class="form-control" placeholder="Password" name="password"><br>
			<input type="submit" class="btn btn-default center-block col-xs-12" value="Login"><br> 
			<p style="text-align:center;margin-top:30px;">Don't have an account? <a href="/signup">Sign Up</a></p>
			<input type="hidden" value="<%= _csrf %>" name="_csrf">


		</form>
	</div>
	<% } %>

	<% if (req.user) { %>
		<div class="col-sm-6 col-sm-offset-3">
			<h2>Create Your Blog</h2>
			<hr>
		</div>

		

		    <form action="/post/new" class="col-sm-6 col-sm-offset-3" method="POST" id="postSubmit">

		    	

				<p class="editable2" name="oneLiner" data-placeholder="Type something awesome about your blog" maxlength="50"></p> <br />

				

		     <label>Blog Title:</label>
			<input type="text" class="form-control" name="jobTitle" id="jobTitle" placeholder="e.g. Web Development"/><br>

			<label>Blog Type:</label>
			<select class="form-control" type="text" name="profession" id="profession">
				<option>Select One</option>
				<option value="programming">Programming</option>
				<option value="design">Design</option>
				<option value="marketing">Marketing</option>
				<option value="systemAdmin">System Admin</option>
				<option value="businessAdmin">Business Admin/Executive</option>
				<option value="sales">Sales</option>
				<option value="customerSupport">Customer Support</option>
				<option value="misc">Miscellaneous</option>
			</select><br>

			

			<label>Blog content</label>
			
		    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
		      <div class="btn-group">
		        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
		          <ul class="dropdown-menu">
		          <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
		          <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
		          <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
		          </ul>
		      </div>
		     
		      
		    </div>
		    
		    <div id="editor" name="jobDescription">
		      	<textarea class="form-control" rows="5" id="comment" value="Wrtie your blog here" ></textarea>	
		    </div> 
		    <br>

		

			<label> URL for reference</label>
			<input type="text" class="form-control" name="companyURL" id="companyURL" placeholder="spr.co" /><br>

			<label>Private blog only?</label>
			<select class="form-control" type="text" name="usOnly" id="usOnly">
				<option value="no">No</option>
				<option value="yes">Yes</option>
			</select><br>

			<input type="hidden" name="userEmail" value="<%= req.user.email %>" />
			<input type="hidden" name="_csrf" value="<%= _csrf %>" />

		    <hr>
		    <input type="button" value="Post blog" class="btn savePost">
		 
		</form>
	<% } %>

</div>